/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# built gem artifacts
*.gem

# Gem libraries typically should not commit Gemfile.lock
Gemfile.lock

# rspec failure tracking
.rspec_status
